<%- include('../partials/header') %>

    <form id="edit-form" action="/reviews/<%= review._id %>?_method=PUT" method="POST">
        <label>Reivew:</label>
        <input type="text" name="content" value="<%= review.content %>">

        <label>Rating:</label>
        <select name="rating">
            <option value="1" <% if (review.rating===1) { %> selected <% } %>>1</option>
            <option value="2" <% if (review.rating===2) { %> selected <% } %>>2</option>
            <option value="3" <% if (review.rating===3) { %> selected <% } %>>3</option>
            <option value="4" <% if (review.rating===4) { %> selected <% } %>>4</option>
            <option value="5" <% if (review.rating===5) { %> selected <% } %>>5</option>
        </select>

        <button type="submit">Update review</button>
    </form>

    <%- include('../partials/footer') %>